extends layout

block append head
  script(type='text/javascript', src='/js/vendor/broadway/sylvester.js')
  script(type='text/javascript', src='/js/vendor/broadway/glUtils.js')
  script(type='text/javascript', src='/js/vendor/broadway/util.js')
  script(type='text/javascript', src='/js/vendor/broadway/avc-codec.js')
  script(type='text/javascript', src='/js/vendor/broadway/avc.js')
  script(type='text/javascript', src='/js/vendor/broadway/canvas.js')
  script(type='text/javascript', src='/js/vendor/jsfeat/jsfeat-min.js')
  script(type='text/javascript', src='/js/nodecopter-stream.js')
  script(type='text/javascript', src='/js/nodecopter-track.js')

block append bodyscripts
  script
    'use strict';
    var copterStream = new NodecopterStream(document.querySelector('#dronestream'));
    var tracker = new NodecopterTrack(copterStream, '#sniper');

block content
  div#dronestream(width=640, height=360, style="position:relative")
    img#sniper(src="images/sniper.png", style="position:absolute; opacity:0.6")
