extends layout

block append head
  script(type='text/javascript', src='/js/vendor/broadway/sylvester.js')
  script(type='text/javascript', src='/js/vendor/broadway/glUtils.js')
  script(type='text/javascript', src='/js/vendor/broadway/util.js')
  script(type='text/javascript', src='/js/vendor/broadway/avc-codec.js')
  script(type='text/javascript', src='/js/vendor/broadway/avc.js')
  script(type='text/javascript', src='/js/vendor/broadway/canvas.js')
  script(type='text/javascript', src='/js/nodecopter-stream.js')

block append bodyscripts
  script
    var copterStream = new NodecopterStream(document.querySelector('#dronestream'));

block content
  div#dronestream(width=640, height=360)
